//@import '@/quasar-variables.sass';
.border-item {
  border-bottom:1px solid $border-grey;
}
.board-list-addon {
  text-align: right;
}
.board-detail-link:hover{
  text-decoration: underline;
  cursor:pointer;
}

.board-detail {
  margin: 0 auto;
  width: 100%;
}

.board-thumnail {
  overflow: hidden;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 0 !important;
  img {
    width: 50px;
/*    transform: translateX(-50%);
    object-fit: scale-down;*/
    object-fit: cover;
    object-position: left;
  }
}

.board-title {
  border-bottom: 1px solid $border-grey;
  padding:0px 15px 5px 15px;
  width: 100%;
  font-size: 20px;
  font-weight: 900;
  line-height: 50px;
  min-height: 50px;
}

.board-title-caption {
  line-height: 20px;
  font-size: 12px;
  color: #0000008a;
  display:flex;
  justify-content: space-between;

  .caption-item {

  }
}

.board-content {
  border-bottom: 1px solid $border-grey;
  padding: 15px;
  min-height: 250px;
  overflow-x:auto;
}

.board-detail-addon {
  text-align: right;
  padding: 20px 10px;
}

.board-regist-addon {
  text-align: right;
  >.q-field {
    display:inline-block;
    margin-left: 5px;
    background-color: white;
  }
}

/** board-gallery  **/
.gallery-preview-list {
  overflow-x:auto;
  white-space: nowrap;
}
.gallery-preview-wrapper {
  margin: 0px 3px;
  border: 3px solid white;
  background-color:black;
  display:inline-block;
  .gallery-preview-item {
    width: 200px;
    height: 150px;
    object-fit: scale-down;
    vertical-align: middle;

  }
}

.gallery-view-wrapper {
  padding:3px;
  text-align:center;
  .gallery-view-item {
    //width: 100%;
    max-width:100%;
    //object-fit: scale-down;
    //vertical-align: middle;
    display:inline-block;
  }
}

.board-gallery-carousel {
  width: 90% !important;
  min-width: 500px !important;;
}


@media(max-width: 850px) {
  .board-content {
    padding: 5px 0px;
    font-size: 0.85em;
  }
}