.confirm-caption {
  font-size: 11px;
  text-align:center;
  &.warning {
    color: $red-13
  }
}

.info-container {
  padding: 15px;
  .info-title {
    text-align:center;
    font-size:20px;
    font-weight:bold;
  }
  .info-package {
    font-size:15px;
    line-height:28px;
    margin-bottom:15px;
    .info-name {
      font-weight: 600;
    }
    .info-item {
      //padding-left: 10px;
      white-space: pre-line;
    }
  }
}