.header-container {
  height: 70px;
  line-height: 70px;
  padding: 0px 20px;
  font-size:23px;
  font-weight: 700;
}

.header-container.sub-header-container {
  height: 35px;
  line-height: 20px;
  padding: 0px 20px;
  font-size:12px;
  font-weight: 600;
}
.header-container.ad-container {
  padding: 0px;
  margin-top:20px;
}

@media (min-width: 850px) {
  .header-container {
    width: 850px;
    margin:0 auto;
  }
}