<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.odth.board.BoardMapper">

    <select id="selectBoard" resultType="com.odth.board.BoardVO">
        WITH TOT AS (
            SELECT COUNT(*) AS tot_cnt FROM tb_board
        )
        SELECT
             a.brd_no
            ,a.title
            ,sf_get_cat_nos(a.brd_no) AS cat_nostr
            ,sf_get_rpl_cnt(a.brd_no) AS reply_cnt
            ,sf_mask_ip(a.reg_ip) AS reg_ip
            ,sf_get_time_diff(a.reg_dt) AS time_elapsed
            ,a.view_cnt
            ,t.tot_cnt
        FROM tb_board a
        CROSS JOIN TOT t
        ORDER BY a.brd_no DESC
    </select>

    <select id="selectBoardByCategory" parameterType="int" resultType="com.odth.board.BoardVO">
        WITH TOT AS (
            SELECT COUNT(*) AS tot_cnt
            FROM tb_board a
            INNER JOIN tb_board_category b ON (a.brd_no = b.brd_no)
            INNER JOIN tb_category c ON (b.cat_no = c.cat_no)
            WHERE 1=1
            AND c.cat_no = #{catNo}
        )
        SELECT
             a.brd_no
             ,a.title
             ,sf_get_cat_nos(a.brd_no) AS cat_nostr
             ,sf_get_rpl_cnt(a.brd_no) AS reply_cnt
             ,sf_mask_ip(a.reg_ip) AS reg_ip
             ,sf_get_time_diff(a.reg_dt) AS time_elapsed
             ,a.view_cnt
             ,t.tot_cnt
        FROM tb_board a
        INNER JOIN tb_board_category b ON (a.brd_no = b.brd_no)
        INNER JOIN tb_category c ON (b.cat_no = c.cat_no)
        CROSS JOIN TOT t
        WHERE 1=1
          AND c.cat_no = #{catNo}
        ORDER BY a.brd_no DESC
    </select>


    <select id="selectBoardDetail" parameterType="int" resultType="com.odth.board.BoardVO">
        SELECT
             brd_no
            ,title
            ,content
            ,reg_dt
            ,upd_dt
        FROM tb_board
        WHERE 1=1
        AND brd_no = #{brdNo}
    </select>

    <select id="selectBoardCategory" parameterType="int" resultType="int">
        SELECT
            b.cat_no
        FROM tb_board a
        INNER JOIN tb_board_category b ON (a.brd_no = b.brd_no)
        WHERE 1=1
        AND a.brd_no = #{brdNo}
    </select>

    <update id="increaseView" parameterType="int">
        UPDATE tb_board
        SET
            view_cnt = view_cnt + 1
        WHERE 1=1
          AND brd_no = #{brdNo}
    </update>

    <insert id="insertBoard" parameterType="com.odth.board.BoardVO">
        INSERT INTO tb_board (
           title
          ,content
          ,reg_ip
        ) VALUES (
           #{title}
          ,#{content}
          ,#{regIp}
        )
    </insert>

    <update id="updateBoard" parameterType="com.odth.board.BoardVO">
        UPDATE tb_board
        SET
             title = #{title}
            ,content = #{content}
            ,upd_dt = current_timestamp()
        WHERE 1=1
        AND brd_no = #{brdNo}
    </update>

    <delete id="deleteBoard" parameterType="int">
        DELETE FROM tb_board
        WHERE 1=1
        AND brd_no = #{brdNo}
    </delete>

    <select id="getInsertedBrdNo" resultType="int">
        SELECT LAST_INSERT_ID() AS brd_no
    </select>

    <insert id="mergeBoardCategory" parameterType="com.odth.board.BoardVO">
        INSERT INTO tb_board_category ( cat_no, brd_no )
        VALUES
        <foreach item="catNo" collection="catNos" separator=",">
        (#{catNo}, #{brdNo})
        </foreach>
        ON DUPLICATE KEY UPDATE
        reg_dt = reg_dt
    </insert>

    <delete id="deleteUnusedCategory" parameterType="com.odth.board.BoardVO">
        DELETE FROM tb_board_category
        WHERE brd_no = #{brdNo}
        <if test="catNos != null">
            AND cat_no NOT IN
            <foreach item="catNo" collection="catNos" open="(" separator="," close=")">
                #{catNo}
            </foreach>
        </if>
    </delete>

    <delete id="deleteBoardCategory" parameterType="int">
        DELETE FROM tb_board_category
        WHERE brd_no = #{brdNo}
    </delete>

    <select id="selectBoardImages" parameterType="int" resultType="com.odth.board.BoardAttachVO">
        SELECT
            a.file_id,
            b.down_path,
            a.thumb_yn
        FROM tb_board_attach a
        INNER JOIN tb_attach_file b ON a.file_id = b.file_id
        WHERE 1=1
        AND brd_no = #{brdNo}
        AND del_yn = 'N'
    </select>

    <insert id="mergeBoardImages" parameterType="com.odth.board.BoardVO">
        INSERT INTO tb_board_attach ( brd_no, file_id, thumb_yn )
        VALUES
        <foreach item="item" collection="files" separator=",">
            (#{brdNo}, #{item.fileId}, #{item.thumbYn})
        </foreach>
        ON DUPLICATE KEY UPDATE
            thumb_yn = VALUES(thumb_yn),
            upd_dt = NOW()
    </insert>
</mapper>