<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.odth.board.BoardMapper">
    <sql id="searchCondition">
        <if test="catNo gt 0">
            AND c.cat_no = #{catNo}
        </if>
        <if test="catType gt 0">
            AND c.cat_type = #{catType}
        </if>
        <choose>
            <when test="mode eq 0">
                AND a.title LIKE CONCAT('%', #{text}, '%')
            </when>
            <when test="mode eq 1">
                AND (
                a.title LIKE CONCAT('%', #{text}, '%')  OR a.content LIKE CONCAT('%', #{text}, '%')
                )
            </when>
            <when test="mode eq 2">
                AND a.content LIKE CONCAT('%', #{text}, '%')
            </when>
        </choose>
    </sql>

    <select id="selectBoard" parameterType="com.odth.board.vo.BoardSearchVO" resultType="com.odth.board.vo.BoardVO">
        SELECT
             a.brd_no
             ,a.title
             ,sf_get_cat_nos(a.brd_no) AS cat_nostr
             ,sf_get_rpl_cnt(a.brd_no) AS reply_cnt
             ,sf_mask_ip(a.reg_ip) AS reg_ip
             ,NVL(a.reg_id, '익명') AS reg_id
             ,sf_get_time_diff(a.reg_dt) AS time_elapsed
             ,(SELECT down_path FROM tb_attach_file WHERE file_id = a.thumb_id) AS thumb_path
             ,a.view_cnt
        FROM tb_board a
        INNER JOIN tb_board_category b ON (a.brd_no = b.brd_no)
        INNER JOIN tb_category c ON (b.cat_no = c.cat_no)
        WHERE 1=1
        AND a.del_yn = 'N'
        <include refid="searchCondition" />
        ORDER BY a.brd_no DESC
        LIMIT #{offset}, #{rowPerPage}
    </select>

    <select id="selectBoardMaxPage" parameterType="com.odth.board.vo.BoardSearchVO" resultType="int">
        SELECT
            CEIL(COUNT(*)/#{rowPerPage}) AS max_page
        FROM tb_board a
        INNER JOIN tb_board_category b ON (a.brd_no = b.brd_no)
        INNER JOIN tb_category c ON (b.cat_no = c.cat_no)
        WHERE 1=1
        AND a.del_yn = 'N'
        <include refid="searchCondition" />
    </select>

    <select id="selectBestBoard" parameterType="com.odth.board.vo.BoardSearchVO" resultType="com.odth.board.vo.BoardVO">
        SELECT
        a.brd_no
        ,a.title
        ,sf_get_cat_nos(a.brd_no) AS cat_nostr
        ,sf_get_rpl_cnt(a.brd_no) AS reply_cnt
        ,sf_mask_ip(a.reg_ip) AS reg_ip
        ,NVL(a.reg_id, '익명') AS reg_id
        ,sf_get_time_diff(a.reg_dt) AS time_elapsed
        ,(SELECT down_path FROM tb_attach_file WHERE file_id = a.thumb_id) AS thumb_path
        ,a.view_cnt
        FROM tb_board a
        INNER JOIN tb_board_category b ON (a.brd_no = b.brd_no)
        INNER JOIN tb_category c ON (b.cat_no = c.cat_no)
        WHERE 1=1
        AND a.del_yn = 'N'
        AND a.view_cnt > 99
        <include refid="searchCondition" />
        ORDER BY a.view_cnt DESC
        LIMIT #{rowPerPage}
    </select>

    <select id="selectBoardDetail" parameterType="int" resultType="com.odth.board.vo.BoardVO">
        SELECT
             brd_no
            ,title
            ,content
            ,NVL(reg_id, '익명') AS reg_id
            ,sf_get_rpl_cnt(brd_no) AS reply_cnt
            ,view_cnt
            ,DATE_FORMAT(reg_dt, '%Y-%m-%d %H:%i:%s') AS reg_dt
            ,DATE_FORMAT(upd_dt, '%Y-%m-%d %H:%i:%s') AS upd_dt
            ,del_yn
        FROM tb_board
        WHERE 1=1
        AND brd_no = #{brdNo}
    </select>

    <select id="selectBoardCategory" parameterType="int" resultType="int">
        SELECT
            b.cat_no
        FROM tb_board a
        INNER JOIN tb_board_category b ON (a.brd_no = b.brd_no)
        WHERE 1=1
        AND a.brd_no = #{brdNo}
    </select>

    <update id="increaseView" parameterType="int">
        UPDATE tb_board
        SET
            view_cnt = view_cnt + 1
        WHERE 1=1
          AND brd_no = #{brdNo}
    </update>

    <insert id="insertBoard" parameterType="com.odth.board.vo.BoardVO">
        INSERT INTO tb_board (
           title
          ,content
          ,thumb_id
          ,passwd
          ,reg_id
          ,reg_ip
        ) VALUES (
           #{title}
          ,#{content}
          ,#{thumbId}
          ,SHA2(#{passwd}, 256)
          ,(CASE WHEN #{regId} = '' THEN NULL ELSE #{regId} END)
          ,#{regIp}
        )
    </insert>

    <update id="updateBoard" parameterType="com.odth.board.vo.BoardVO">
        UPDATE tb_board
        SET
             title = #{title}
            ,content = #{content}
            ,thumb_id = #{thumbId}
            ,upd_dt = current_timestamp()
        WHERE 1=1
        AND brd_no = #{brdNo}
    </update>

    <delete id="deleteBoard" parameterType="int">
        UPDATE tb_board
        SET
           del_yn = 'Y'
          ,upd_dt = current_timestamp()
        WHERE 1=1
          AND brd_no = #{brdNo}
    </delete>

    <select id="getInsertedBrdNo" resultType="int">
        SELECT LAST_INSERT_ID() AS brd_no
    </select>

    <insert id="mergeBoardCategory" parameterType="com.odth.board.vo.BoardVO">
        INSERT INTO tb_board_category ( cat_no, brd_no )
        VALUES
        <foreach item="catNo" collection="catNos" separator=",">
        (#{catNo}, #{brdNo})
        </foreach>
        ON DUPLICATE KEY UPDATE
        reg_dt = reg_dt
    </insert>

    <delete id="deleteUnusedCategory" parameterType="com.odth.board.vo.BoardVO">
        DELETE FROM tb_board_category
        WHERE brd_no = #{brdNo}
        <if test="catNos != null">
            AND cat_no NOT IN
            <foreach item="catNo" collection="catNos" open="(" separator="," close=")">
                #{catNo}
            </foreach>
        </if>
    </delete>

    <delete id="deleteBoardCategory" parameterType="int">
        DELETE FROM tb_board_category
        WHERE brd_no = #{brdNo}
    </delete>

    <select id="selectBoardImages" parameterType="int" resultType="com.odth.board.vo.BoardAttachVO">
        SELECT
            a.file_id,
            b.thumb_id,
            b.down_path,
            a.thumb_yn
        FROM tb_board_attach a
        INNER JOIN tb_attach_file b ON a.file_id = b.file_id
        WHERE 1=1
        AND brd_no = #{brdNo}
        AND del_yn = 'N'
    </select>

    <insert id="mergeBoardImages" parameterType="com.odth.board.vo.BoardVO">
        INSERT INTO tb_board_attach ( brd_no, file_id, thumb_yn )
        VALUES
        <foreach item="item" collection="files" separator=",">
            (#{brdNo}, #{item.fileId}, #{item.thumbYn})
        </foreach>
        ON DUPLICATE KEY UPDATE
            thumb_yn = VALUES(thumb_yn),
            upd_dt = NOW()
    </insert>


    <select id="checkPassword" parameterType="com.odth.board.vo.BoardVO" resultType="Boolean">
        SELECT
            (CASE WHEN
                      EXISTS(
                              SELECT brd_no
                              FROM tb_board
                              WHERE brd_no = #{brdNo}
                                AND passwd = SHA2(#{passwd}, 256))
                      THEN 1 ELSE 0 END) AS yn

    </select>
</mapper>