<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.odth.category.CategoryMapper">
    <select id="selectCategory" resultType="com.odth.category.CategoryVO">
        SELECT
              cat_no
             ,cat_nm
             ,url
             ,color
             ,icon
             ,reg_dt
             ,upd_dt
        FROM tb_category
        WHERE 1=1
    </select>
</mapper>