<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.odth.file.FileMapper">

    <select id="insertFile" parameterType="com.odth.file.FileVO" statementType="CALLABLE">
        CALL sp_insert_file(
            #{filePath}, #{downNm}, #{downPath}, #{fileExt}, #{fileSize},
            #{fileId, jdbcType=INTEGER, jdbcTypeName=int, mode=OUT})
    </select>

    <update id="updateThumbId" parameterType="com.odth.file.FileVO">
        UPDATE tb_attach_file
        SET
            thumb_id = #{thumbId}
        WHERE 1=1
        AND file_id = #{fileId}
    </update>

    <select id="selectFilePath" parameterType="int" resultType="String">
        SELECT
            file_path
        FROM tb_attach_file
        WHERE 1=1
        AND file_id = #{fileId}
        AND del_yn = 'N'
    </select>

    <delete id="deleteBoardAttach"  parameterType="int">
        DELETE FROM tb_board_attach
        WHERE file_id = #{fileId}
    </delete>

    <update id="deleteFile"  parameterType="int">
        UPDATE tb_attach_file
        SET
            del_yn = 'Y'
           ,upd_dt = current_timestamp()
        WHERE file_id = #{fileId}
    </update>
</mapper>